<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jonathan Jong. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/31318151_10109597159542160_7410043445848309760_n.jpg?_nc_cat=103&_nc_oc=AQmEYi6pwQshhAe8p2gnwyX0kgLR_mWRdOhMofDhZ8L8Mw53Zxrl9-mBrxX09_8ajUk&_nc_ht=scontent-lga3-1.xx&oh=c42629baab1816bbb79ce84df123d773&oe=5E525EBA">
    </div>
    
    {{>footer}}
</body>

</html>